

div nav ul {
    display: flex; 
    list-style-type: none; 
    justify-content: space-around;
    background-color: rgb(220, 242, 245);
  }
  
  
  div nav ul li:last-child {
    margin-right: 0; 
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }

  .nav{

    position: absolute;
    top:50%
  }